agm-map {
  height: calc(100vh - 64px);
}

.device-card {
    min-width: 400px;
  }

.header-image {
    background-image: url('./../../assets/E2uGMzJtrvfA4SimzdfjxHQIqYdZBPoMS9CUA6BxrC6rcF6THufmpiW6OtR4VRqi4QJg=w300.png');
    background-size: cover;
}